<h1 class="center">Would you?</h1>
<img class="page-center" src="#" id="uploaded-img">
<div class="center page-center">
    <%= form_for @question,:html => { :multipart => true, :class => "margin-auto" }  do |f| %>
        <button id="add_photo_btn">Add Photo</button>
        <%= f.file_field :image, accept: 'image/*', capture: 'camera', class: "hidden"%><br>
        Send to: <select name="question[council_id]">
          <% current_user.councils.each do |council| %>
            <option value=<%=council.id%>><%= council.council_name %></option>
          <% end %>
        </select><br>
        <%= f.text_field :content, :placeholder => "Consult your council."%><br>
        <%= f.submit "Send" %>
    <% end %>
</div>
