<h1>Create a new question</h1>
<ul>
  <%= form_for @question,:html => { :multipart => true } do |f| %>
    <li>
      <%= f.file_field :image, accept: 'image/*', capture: 'camera' %><br><br>
      <select name="question[council_id]">
        <% current_user.councils.each do |council| %>
          <option value=<%=council.id%>><%= council.council_name %></option>
        <% end %>
      </select>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>