<h1><%= @question.content %> </h1>
<h3>From <%= @question.council.council_name %></h3>
<p>
  <%= @question.content  %>
</p>

<!-- TEMP IMAGE -->
<img src="http://3.bp.blogspot.com/-FAUTU4o90L4/UsbJ31plhGI/AAAAAAAAACg/N2GM5AfI2P0/s1600/doge+wow.png">
<br>


<span>
<%= link_to 'answer this question', new_answer_path %>
</span>

<span><%= link_to 'delete', question_path(@question), :method => :delete %></span>

