
  <h1>Login Form</h1>
  <%= form_for user, url: login_path do |f| %>
    <%= f.label(:email, 'Email') %>
    <%= f.text_field(:email) %>
    <%= f.label(:password, 'Password') %>
    <%= f.password_field(:password) %>
    <%= f.submit('Login')%>
  <% end %>
