
  <h1 class="center">Login Form</h1>
  <div class="center">
    <%= form_for user, url: login_path do |f| %>
      <%= f.label(:email, 'Email') %>
      <%= f.text_field(:email) %><br>
      <%= f.label(:password, 'Password') %>
      <%= f.password_field(:password) %><br>
      <%= f.submit('Login')%>
    <% end %>
  </div>
