  <h1 class="center">Sign Up Form</h1>
  <div class="center">
    <%= form_for user do |f| %>
      <%= f.label(:firstname, 'First Name') %>
      <%= f.text_field(:firstname) %><br>
      <%= f.label(:lastname, 'Last Name') %>
      <%= f.text_field(:lastname) %><br>
      <%= f.label(:email, 'Email') %>
      <%= f.text_field(:email) %><br>
      <%= f.label(:password, 'Password') %>
      <%= f.password_field(:password) %><br>
      <%= f.submit %>
    <% end %>
  </div>
