<div class="prof_page">
<h1 class="welcome-user">Hi <%= @user.firstname + '!'%></h1>

<%= button_to "Add Question", new_question_path, method: 'get' %></button>


<% @questions.each do |question| %>
<div class="chunk">
  <span class="answer">
  <% if question.answers.count == 0 %>
    <h5> <%= question.content %><span class="votes blue">No reply</span></h5>

  <% else %>

    <% if question.up_percentage > 50 %>
     <h5> <%= question.content %> <span class="votes green">DO IT!</span></h5>
    <% elsif question.up_percentage < 50 %>
      <h5> <%= question.content %><span class="votes red">DON'T DO IT!</span></h5>
    <% else %>
      <h5> <%= question.content %><span class="votes yellow">TIED!</span></h5>
    <% end %>
  <% end %>
  </span>
  <span class="image">
    <%= image_tag question.image(:small) %>
  </span>
<% end %>
</div>
</div>