<div class="prof_page">

  <div class="prof_container">
    <% @questions.each do |question| %>
    <div class="image">
     <%= image_tag question.image, width:"100%" %>
      <span class="answer">
        <% if question.answers.count == 0 %>
          <h5 class="content"><span> <%= question.content %></span><span class="votes blue">No reply</span></h5>

        <% else %>

          <% if question.up_percentage > 50 %>
           <h5 class="content"><span class="votes green hearts"><i class="fa fa-heart-o"></i></span> <span> <%= question.content %></span> </h5>
          <% elsif question.up_percentage < 50 %>
            <h5 class="content"><span class="votes red">&#x2717;</span> <span> <%= question.content %></span> </h5>
          <% else %>
            <h5 class="content"><span class="votes yellow">TIED!</span> <span> <%= question.content %></span></h5>
          <% end %>
        <% end %>
      </span>
    <% end %>
    </div>
  </div>
</div>

<a href="#" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-camera"></span>  </a>
<div class="btn btn-logo"></div>
