<div class="prof_page">
<h1 class="welcome-user">Hi, <%= @user.firstname %></h1>
<%= button_to "Add Council", councils_path, method: 'get' %><br>
<%= button_to "Add Question", new_question_path, method: 'get' %></button>


<!-- order by created at limit 3 -->
	<!-- <h4> YOUR STATS </h4> -->

<table id="questions-list">
          <thead>

          </thead>
          <tbody>

<% @questions.each do |question| %>
  <% unless question.up_percentage.zero? %>
    <% if question.up_percentage > 50 %>
    <tr>
     <td><h5> <%= question.content %></td> <td><span class="votes green"><%= question.up_percentage %>%</span></td></h5>
    </tr> 
    <tr>    
    <% elsif question.up_percentage < 50 %>
      <td><h5> <%= question.content %></td><td><span class="votes red"><%= question.up_percentage %>% </span></td></h5>
    </tr>    
    <% else %>
      <td><h5> <%= question.content %></td><td><span class="votes yellow">TIED!</span></td></h5>
    </tr>      
    <% end %>
<% else %>
    <td><h5> <%= question.content %></td><td><span class="votes yellow">No reply</span></td></h5>
  <% end %>
<% end %>
</tbody>
</table>
</div>