<div class="prof_page">

    <% @questions.each do |question| %>
      <div class="question">
        <%= image_tag question.image, width:"100%" %>
        <span class="answer">
          <% if current_user == question.user %>
            <% if question.answers.count == 0 %>
              <h5 class="content">
                <span><%= question.content %></span>
                <span class="votes blue">No reply</span>
              </h5>
            <% else %>
              <% if question.up_percentage > 50 %>
                <h5 class="content">
                  <span class="votes green hearts">
                    <i class="fa fa-heart-o">&nbsp;</i>
                  </span>
                  <span><%= question.content %></span>
                </h5>
              <% elsif question.up_percentage < 50 %>
                <h5 class="content">
                  <span class="votes red">&#x2717;</span>
                  <span><%= question.content %></span>
                </h5>
              <% else %>
                <h5 class="content">
                  <span class="votes yellow">TIED!</span>
                  <span><%= question.content %></span>
                </h5>
              <% end %>
            <% end %>

          <% else %>
            <h5 class="content">
              <span class="otherQ">
                <i class="fa fa-question-circle">&nbsp;</i>
              </span>
            </h5>
          <% end %>  
          <h1 id="test"><%=question.to_json%></h1>
        </span>
      </div>
    <% end %>
  </div>


<div class="btn btn-logo"></div>

<!-- one div for both: make it absolute
make inner spans divs
float one rt and lft
go opaque
maybs translucent -->