<h2 class="center">Friend's Dashboard</h2>
<h5 class="center">Find a friend to add:</h5>

<div class="page-center" id="friend_form">
  <%= form_tag("/friendships", method: "post", class: "center") do %>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email, nil, placeholder: 'Email') %><br>
    <%= submit_tag("Search") %>
  <% end %>
  <h3>Pending friend requests:</h3>
  <%= render "friend_requests" %>
</div>
<script type="text/javascript">
  $("#friend_form form").on('submit', function(event) {
    event.preventDefault();
    var data = $(this).serialize();
    $.ajax('/friendships', {
      data: data,
      type: 'POST'
    }).then(function(response) {
        var friendship = response.friendship
        var invites = response.invite
       $("#friendship_list").empty()
       for(var i=0; i < invites.length; i++){
        $("#friendship_list").append("<a href=/friendships/" + friendship.id + ">"+invites[i].user.firstname+ " " +invites[i].user.lastname+"</a><br>");
        }
      })
  } )
</script>

