<% if @friendship.user.id != current_user.id %>
<%= @friendship.user.firstname %> <%= @friendship.user.lastname %>
wants to be friends with
<%= @friendship.friend.firstname %> <%= @friendship.friend.lastname %>
<%= button_to 'Confirm', '' %>
<% else %>
<h5>Invite Send to</h5>
<%= @friendship.friend.firstname %> <%= @friendship.friend.lastname %>
<% end %>