<h1>Add member to </h1>
<%= form_for :council_membership, url: {controller: 'council_memberships',action: 'create'} do |f| %>
      <select name="council_membership[council_id]">
        <% current_user.councils.each do |council| %>
          <option value=<%=council.id%>><%= council.council_name %></option>
        <% end %>
      </select>
      <select name="council_membership[user_id]">
        <% current_user.friends.each do |friend| %>
          <option value=<%=friend.id%>><%= friend.firstname %></option>
        <% end %>
      </select>
  <%= f.submit('Add')%>
<% end %>