<!DOCTYPE html>
<html>
<head>
  <title>council_app</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

  <nav class="navbar navbar-default navbar-inverse" role="navigation">

          <div class="" id="navigationbar">
 			   <ul class="nav navbar-nav">
 			   	<% if current_user %>
           <li class="active"><a href="/users/<%= current_user.id %>" class="logo-title">Council</a></li>
           <% else %>
           <li class="active"><a href="/login" class="logo-title">Council</a></li>
           <% end %>
           <li><a href="/friendships/new"><span class="glyphicon glyphicon-user" style="color:white" aria-hidden="true"></span></a></li>
           <li><a href="#"><span class="glyphicon glyphicon-envelope" style="color:white" aria-hidden="true"></span></a></li>
           <li><a href="/questions/new"><span class="glyphicon glyphicon-camera" style="color:white" aria-hidden="true"></span></a></li>
           <li><a href="/councils"><span class="glyphicon glyphicon-align-justify" style="color:white" aria-hidden="true"></span></a></li>
           </ul>
        </div><!-- /.navbar-collapse -->
     <div class="container-fluid" id="navfluid">
     </div><!-- /.container-fluid -->
  </nav>
<body id="main">
<%if flash[:notice] %>
<div id="flash_notice">
  <%= flash[:notice] %>
</div>
<% end %>


<%= yield %>

</body>
</html>
